<!DOCTYPE html>
<html>
  <head>
    <title>Analisis Sentimen Twitter</title>
  </head>
  <body>
    <h1>Analisis Sentimen Twitter</h1>
    <form method="post">
      <input
        type="text"
        name="keyword"
        placeholder="Cari di Twitter"
        required
      />
      <button type="submit">Cari</button>
    </form>

    {% if tweets_data %}
    <h2>Hasil Analisis Sentimen:</h2>
    {{ graph_html|safe }}

    <table border="1">
      <tr>
        <th>Username</th>
        <th>Komentar</th>
        <th>Kategori Sentimen</th>
      </tr>
      {% for tweet in tweets_data %}
      <tr>
        <td>{{ tweet[0] }}</td>
        <td>{{ tweet[1] }}</td>
        <td>{{ tweet[2] }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </body>
</html>
